.bulbasaur {
  background-position: 0 0;
}

.ivysaur {
  background-position: -60px 0;
}

.venusaur {
  background-position: -110px 0;
}

.charmander {
  background-position: -166px 0;
}

.charmeleon {
  background-position: -228px 0;
}

.charizard {
  background-position: -288px 0;
}

.squirtle {
  background-position: -342px 0;
}

.wartortle {
  background-position: -402px 0;
}

.blastoise {
  background-position: -460px 0;
}

.caterpie {
  background-position: -515px 0;
}

.metapod {
  background-position: -576px 0;
}

.butterfree {
  background-position: -632px 0;
}

.weedle {
  background-position: -690px 0;
}

.kakuna {
  background-position: -748px 0;
}

.beedrill {
  background-position: -807px 0;
}

.pidgey {
  background-position: 60px 0px;
}

.pidgeotto {
  background-position: 3px -55px;
}

.pidgeot {
  background-position: -56px -52px;
}

.rattata {
  background-position: -112px -52px;
}

.raticate {
  background-position: -167px -52px;
}

.spearow {
  background-position: -229px -52px;
}

.fearow {
  background-position: -286px -52px;
}

.ekans {
  background-position: -342px -52px;
}

.arbok {
  background-position: -401px -52px;
}

.pikachu {
  background-position: -459px -52px;
}

.raichu {
  background-position: -517px -52px;
}

.sandshrew {
  background-position: -573px -52px;
}

.sandslash {
  background-position: -633px -52px;
}

.nidoran-f {
  background-position: -691px -52px;
}

.nidorina {
  background-position: -746px -52px;
}

.nidoqueen {
  background-position: -808px -52px;
}

.nidoran-m {
  background-position: -864px -55px;
}

.nidorino {
  background-position: 0 -110px;
}

.nidoking {
  background-position: -55px -110px;
}

.clefairy {
  background-position: -110px -110px;
}

.clefable {
  background-position: -171px -110px;
}

.vulpix {
  background-position: -227px -110px;
}

.ninetales {
  background-position: -289px -110px;
}

.jigglypuff {
  background-position: -341px -110px;
}

.wigglytuff {
  background-position: -402px -110px;
}

.zubat {
  background-position: -460px -110px;
}

.golbat {
  background-position: -516px -110px;
}

.oddish {
  background-position: -572px -110px;
}

.gloom {
  background-position:  -635px -110px;
}

.vileplume {
  background-position: -693px -110px;
}

.paras {
  background-position: -749px -110px;
}

.parasect {
  background-position: -807px -110px;
}

.venonat {
  background-position: -869px -110px;
}

.venomoth {
  background-position:  0 -166px;
}

.diglett {
  background-position: -55px -166px;
}

.dugtrio {
  background-position: -113px -166px;
}

.meowth {
  background-position: -169px -166px;
}

.persian {
  background-position: -231px -166px;
}

.psyduck {
  background-position: -286px -166px;
}

.golduck {
  background-position: -343px -166px;
}

.mankey {
  background-position: -401px -166px;
}

.primeape {
  background-position: -460px -166px;
}

.growlithe {
  background-position: -519px -166px;
}

.arcanine {
  background-position: -574px -166px;
}

.poliwag {
  background-position: -635px -166px;
}

.poliwhirl {
  background-position: -690px -166px;
}

.poliwrath {
  background-position: -752px -166px;
}

.abra {
  background-position: -806px -166px;
}

.kadabra {
  background-position: -865px -166px;
}

.alakazam {
  background-position: 0 -217px;
}

.machop {
  background-position: -56px -217px;
}

.machoke {
  background-position: -111px -217px;
}

.machamp {
  background-position: -169px -217px;
}

.bellsprout {
  background-position: -227px -217px;
}

.weepinbell {
  background-position: -286px -217px;
}

.victreebel {
  background-position: -339px -217px;
}

.tentacool {
  background-position: -402px -217px;
}

.tentacruel {
  background-position: -460px -217px;
}

.geodude {
  background-position: -517px -217px;
}

.graveler {
  background-position: -575px -217px;
}

.golem {
  background-position: -638px -217px;
}

.ponyta {
  background-position: -691px -217px;
}

.rapidash {
  background-position: -754px -217px;
}

.slowpoke {
  background-position: -809px -217px;
}

.slowbro {
  background-position: -864px -217px;
}

.magnemite {
  background-position: 0 -270px;
}

.magneton {
  background-position: -56px -270px;
}

.farfetchd {
  background-position: -112px -270px;
}

.doduo {
  background-position: -174px -270px;
}

.dodrio {
  background-position: -225px -270px;
}

.seel {
  background-position: -288px -270px;
}

.dewgong {
  background-position: -343px -270px;
}

.grimer {
  background-position: -402px -270px;
}

.muk {
  background-position: -459px -270px;
}

.shellder {
  background-position: -516px -270px;
}

.cloyster {
  background-position: -577px -270px;
}

.gastly {
  background-position: -634px -270px;
}

.haunter {
  background-position: -694px -270px;
}

.gengar {
  background-position: -749px -270px;
}

.onix {
  background-position: -811px -270px;
}

.drowzee {
  background-position: -864px -270px;
}

.hypno {
  background-position: 0 -326px;
}

.krabby {
  background-position: -53px -326px;
}

.kingler {
  background-position: -111px -326px;
}

.voltorb {
  background-position: -173px -326px;
}

.electrode {
  background-position: -230px -326px;
}

.exeggcute {
  background-position: -286px -326px;
}

.exeggutor {
  background-position: -344px -326px;
}

.cubone {
  background-position: -402px -326px;
}

.marowak {
  background-position: -459px -326px;
}

.hitmonlee {
  background-position: -516px -326px;
}

.hitmonchan {
  background-position: -578px -326px;
}

.lickitung {
  background-position: -635px -326px;
}

.koffing {
  background-position: -692px -326px;
}

.weezing {
  background-position: -749px -326px;
}

.rhyhorn {
  background-position: -806px -326px;
}

.rhydon {
  background-position: -863px -326px;
}

.chansey {
  background-position: 0 -382px;
}

.tangela {
  background-position: -54px -382px;
}

.kangaskhan {
  background-position: -111px -382px;
}

.horsea {
  background-position: -166px -382px;
}

.seadra {
  background-position: -226px -382px;
}

.goldeen {
  background-position: -287px -382px;
}

.seaking {
  background-position: -342px -382px;
}

.staryu {
  background-position: -403px -382px;
}

.starmie {
  background-position: -458px -382px;
}

.mr-mime {
  background-position: -516px -382px;
}

.scyther {
  background-position: -578px -382px;
}

.jynx {
  background-position: -633px -382px;
}

.electabuzz {
  background-position: -689px -382px;
}

.magmar {
  background-position: -752px -382px;
}

.pinsir {
  background-position: -811px -382px;
}

.tauros {
  background-position: -865px -382px;
}

.magikarp {
  background-position: 0 -436px;
}

.gyarados {
  background-position: -56px -436px;
}

.lapras {
  background-position: -110px -436px;
}

.ditto {
  background-position: -169px -436px;
}

.eevee {
  background-position: -226px -436px;
}

.vaporeon {
  background-position: -283px -436px;
}

.jolteon {
  background-position: -343px -436px;
}

.flareon {
  background-position: -403px -436px;
}

.porygon {
  background-position: -460px -436px;
}

.omanyte {
  background-position: -519px -436px;
}

.omastar {
  background-position: -574px -436px;
}

.kabuto {
  background-position: -634px -436px;
}

.kabutops {
  background-position: -694px -436px;
}

.aerodactyl {
  background-position: -748px -436px;
}

.snorlax {
  background-position: -808px -436px;
}

.articuno {
  background-position: -861px -436px;
}

.zapdos {
  background-position: 0 -491px;
}

.moltres {
  background-position: -55px -491px;
}

.dratini {
  background-position: -118px -491px;
}

.dragonair {
  background-position: -167px -491px;
}

.dragonite {
  background-position: -222px -491px;
}

.mewtwo {
  background-position: -284px -491px;
}

.mew {
  background-position: -347px -491px;
}