.pokemon-info {
  font-family: $font;
  background: #fff;
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  &.special {
    height: 100%;
    .picture  {
      border-bottom: 1px solid $pokeDexTopCircle !important;
    }
  }
  .picture {
    &:first-child, &:last-child{
      border-top: none;
      border-bottom: none
    }
    border-top: 1px solid $pokeDexTopCircle;
    border-bottom: 1px solid $pokeDexTopCircle;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    .pokemon-name {
      text-shadow: -1px 1px 0px #e3e3e3;
    }
    .pokemon {
      background: url("../img/pokemons.jpg");
      width: 56px;
      height: 56px;
    }
    @import './pokemons-positions.scss';
  }
}
